<tr class="quote-row">
  <td class="quote-row__id">{{id}}</td>
  <td class="quote-row__author">{{author}}</td>
  <td class="quote-row__text">"{{preview}}"</td>
  <td class="quote-row__genre">
    <span class="quote-genre quote-genre--{{genre}}">{{genreName}}</span>
  </td>
  {{#if isAuthenticated}}
    <td class="quote-row__actions">
      <a href="/quotes/{{id}}/edit" class="btn btn-edit">Изменить</a>
    </td>
  {{/if}}
</tr>